@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat&family=Poppins:wght@400;500;600&family=Roboto+Slab&family=Ubuntu:wght@400;500;700&display=swap");
:root {
  /* background */
  --bg-01: linear-gradient(180deg, grey 0%, #040404 100%);
  --bg-02: linear-gradient(135deg, grey, #040404);
  --bg-03: linear-gradient(135deg, grey, #040404);
  --bg-04: #040404;

  --border-01: #22262a;
  --border-02: #1a1d21;

  /* box-shadow */
  --box-shadow1: 6px 6px 10px black, -6px -6px 10px grey, inset 2px 2px 6px grey, inset -3px -3px 6px black;
  --box-shadow2: -6px -6px 10px black, 6px 6px 10px grey, inset 2px 2px 6px grey, inset -3px -3px 6px black;
  --box-shadow3: 6px 6px 12px black, -6px -6px 12px grey;
  --box-shadow4: inset 2px 2px 3px 2px rgba(167, 169, 171, 0.2), inset -1px -1px 0px grey;
  --box-shadow5: 8px 8px 12px black, -2px -2px 10px grey, inset 2px 2px 3px grey, inset -2px -2px 3px black;
  --box-shadow6: 10px 10px 12px black, -10px -10px 12px grey, inset 4px 4px 8px grey, inset -4px -4px 8px black;
  --box-shadow7: 10px 10px 12px black, -10px -10px 12px grey, inset -4px -4px 8px grey, inset 4px 4px 8px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-01);
}
.wrapper {
  max-width: 900px;
  height: 100vh;
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  overflow: hidden;
}
header,
.song-timer,
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
header .hdbtn {
  background: var(--bg-02);
  border: 2px solid var(--border-01);
  box-shadow: var(--box-shadow1);
  width: 52px;
  height: 52px;
  line-height: 52px;
  color: grey;
  font-size: 22px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.hdbtn:active {
  box-shadow: var(--box-shadow2);
}

header h3 {
  text-transform: uppercase;
  font-size: 1rem;
  color: grey;
}
.player {
  margin-top: 2rem;
}
img {
  width: 13rem;
  height: 13rem;
  margin-bottom: 2rem;
  object-fit: cover;
  border: 10px solid var(--border-02);
  border-radius: 50%;
  box-shadow: var(--box-shadow3);
}
.name {
  color: #c2b7b7ec;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.artist {
  color: #808080de;
  font-size: 0.8rem;
  text-transform: capitalize;
  padding: 10px 0 20px 0;
}
.audioControl {
  margin: 30px 0 30px 0;
}
.song-timer {
  margin-bottom: 20px;
}
.song-timer span {
  font-size: 0.4rem;
  color: #6b6b6b;
  font-weight: 800;
  user-select: none;
}
.progress-area {
  height: 7px;
  width: 100%;
  margin-top: 15px;
  border-radius: 50px;
  background: var(--bg-04);
}

.progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: linear-gradient(90deg, crimson 0%, orange 80%);
  box-shadow: var(--box-shadow4);
}

.progress-bar::before {
  content: "";
  position: absolute;
  background: var(--bg-02);
  box-shadow: var(--box-shadow5);
  border-radius: 50%;
  top: 50%;
  right: -14px;
  z-index: 2;
  width: 28px;
  height: 28px;
  outline: none;
  border: none;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}
.progress-bar::after {
  content: "";
  position: absolute;
  background: #ff4400e8;
  box-shadow: var(--box-shadow5);
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  width: 10px;
  height: 10px;
  outline: none;
  border: none;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.2s ease;
}

.controls {
  margin: 55px 8px 5px 8px;
}
.btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid var(--border-02);
  transition: all 0.2s ease;
  background: var(--bg-03);
  box-shadow: var(--box-shadow6);
}

.btn:active {
  box-shadow: var(--box-shadow7);
}

.controls i {
  font-size: 1.3rem;
  user-select: none;
  color: #a7a9a7;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.controls .play-pause {
  width: 80px;
  height: 80px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.play-pause i {
  text-align: center;
  color: #fff;
}
.play-pause {
  border: 3px solid #ce4b0e;
  background: linear-gradient(135deg, crimson, orangered);
  box-shadow: 10px 10px 12px #151618, -10px -10px 12px #222529, inset 4px 4px 8px orangered, inset -4px -4px 8px crimson;
}
.play-pause:active {
  box-shadow: 10px 10px 12px #151618, -10px -10px 12px #222529, inset -10px -10px 8px orangered, inset 10px 10px 8px crimson;
}

.rotate {
  animation: rotation 8s infinite linear;
  transform-origin: center;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
